
.swiper {
}

.mySwiper {

  @include respond(phone) {
    height: auto;
  }
  
}

.swiper-wrapper {
}

.swiper-slide {
  display: flex;
}


.swiper-pagination {
  @include respond(tab-port) {
    display: none;
  }
}
