@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


body {
  font-family: Comic, sans-serif;
  color: $color-black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.paragraph {

}

.article {

}

