@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


body {
  font-family: Comic, sans-serif;
  color: $color-black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.paragraph {

}

.article {

}

.h1-title {
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #1B1C21;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -30px;
    background-color: #41F6D7;
    width: 4px;
    height: 32px;
    border-radius: 0 5px 5px 0;
    @include respond(tab-port) {
      left: -24px;
    }
  }
}