.service {
  
  &__scroll{
    overflow-x: scroll;
    white-space: nowrap;
  }

  &__list{
    margin: 17px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link {  
    padding: 7px 20px;
    transition: background-color .3s ease;
    border: 2px solid $background-color;
    border-radius: 5px;
    

    a {
      color: $color-gray;
    }

    &:hover,
    &:active{
      background-color: $color-white;
      border: 2px solid $color-green;

    }
    
  }

  &__description{

  }

  &__text{

  }
}

.paragraph_first {
}
.paragraph_second {
}
